<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productive</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- <link href="../static/css/drag-and-drop.css" type="text/css" rel="stylesheet" > -->
	  <!-- <link href="../static/css/part-i.css" type="text/css" rel="stylesheet" > -->
  </head>
  <style>
    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .drop-elements{margin:20px;padding:20px;overflow: auto;text-align: center;}

  .dropElement{width:100%;margin-bottom:3%;height:50px;padding:1%;background-color:#FFC551;vertical-align: top;}

  .dropElement:last-child{margin-right:0;}

  .drag-elements{height:300px;padding-top:10px;overflow:auto;background-color:#FFC551;text-align: center;}

  .dropElement,.drag-elements,.dragElement{border-radius:5px;}

  .dragElement{margin: 0 auto;width: 90%;height:40px;background-color:#0F368F;color:#fff;font-weight:bold;text-align: center;border: 4px solid;border-radius:5px;}

  .drag-elements .dragElement{margin:10px;}

  .drag-elements .dragElement:last-child{margin-right:0;}

  .dragElement:hover{cursor: pointer;}

  .dragEnter{background-color:#33A0A0;}
  .hasChild{background-color:#D56100;}



  </style>
  <body>
      
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{url_for('feed')}}" style="font-size: 32px; font-weight: bold; font-family: 'Comic Sans MS', sans-serif;">
            TBD
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{url_for('feed')}}">
              Home
            </a>
      
            <a class="navbar-item" href="{{url_for('feed')}}">
              Feed
            </a>

            <a class="navbar-item">
                My Profile
              </a>
      
            <!-- <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div> -->
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>



        <!-- <div class="drag-elements droppable multipleChildren hasChild">
          <div id="drag1" class="dragElement redBorder">Drag me!</div>
          <div id="drag2" class="dragElement greenBorder">Drag me!</div>
          <div id="drag3" class="dragElement orangeBorder">Drag me!</div>
          <div id="drag4" class="dragElement pinkBorder">Drag me!</div>
        </div> -->

  <section class="section">
    <div class="container">

        {% block content %}{% endblock %}

    </div>
  </section>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='part-i.js') }}"></script>
  <script>
    // const dragableElement = document.querySelector("#dragTest");
    // dragableElement.addEventListener("dragstart", e=>{
    //   console.log(e);
    // });

    $('.switch-button').click(function() {
          var btn_id = parseInt($(this).attr('data_id'));
          // alert('like button clicked! post id was ' + post_id);
          var $link = $(this);
          $.ajax({
            context:this,
            url: '/switch/' + btn_id
          }).done(function(data) {
            if(data == '1'){
              $(this).addClass('is-link');
              $(this).removeClass('is-primary');
            } else {
              $(this).addClass('is-primary');
              $(this).removeClass('is-link');
            }
       
          })
          .fail(function() {
            alert( "error" );
          })
        });

    function changeTask(task){
      
      $('.timerTask').text(task);
    }
    function _timer(callback)
    {
        var time = 0;     //  The default time of the timer
        var mode = 1;     //    Mode: count up or count down
        var status = 0;    //    Status: timer is running or stoped
        var timer_id;    //    This is used by setInterval function
        
        // this will start the timer ex. start the timer with 1 second interval timer.start(1000) 
        this.start = function(interval)
        {
            interval = (typeof(interval) !== 'undefined') ? interval : 1000;
    
            if(status == 0)
            {
                status = 1;
                timer_id = setInterval(function()
                {
                    switch(mode)
                    {
                        default:
                        if(time)
                        {
                            time--;
                            generateTime();
                            if(typeof(callback) === 'function') callback(time);
                        }
                        break;
                        
                        case 1:
                        if(time < 86400)
                        {
                            time++;
                            generateTime();
                            if(typeof(callback) === 'function') callback(time);
                        }
                        break;
                    }
                }, interval);
            }
        }
        
        //  Same as the name, this will stop or pause the timer ex. timer.stop()
        this.stop =  function()
        {
            if(status == 1)
            {
                status = 0;
                clearInterval(timer_id);
            }
        }
        
        // Reset the timer to zero or reset it to your own custom time ex. reset to zero second timer.reset(0)
        this.reset =  function(sec)
        {
            // sec = (typeof(sec) !== 'undefined') ? sec : 0;
            time = 0;
            generateTime(time);
        }
        
        // Change the mode of the timer, count-up (1) or countdown (0)
        this.mode = function(tmode)
        {
            mode = tmode;
        }
        
        // This methode return the current value of the timer
        this.getTime = function()
        {
            return time;
        }
        
        // This methode return the current mode of the timer count-up (1) or countdown (0)
        this.getMode = function()
        {
            return mode;
        }
        
        // This methode return the status of the timer running (1) or stoped (1)
        this.getStatus
        {
            return status;
        }
        
        // This methode will render the time variable to hour:minute:second format
        function generateTime()
        {
            var second = time % 60;
            var minute = Math.floor(time / 60) % 60;
            var hour = Math.floor(time / 3600) % 60;
            
            second = (second < 10) ? '0'+second : second;
            minute = (minute < 10) ? '0'+minute : minute;
            hour = (hour < 10) ? '0'+hour : hour;
            
            $('div.timer span.second').html(second);
            $('div.timer span.minute').html(minute);
            $('div.timer span.hour').html(hour);
        }
    }
    var timer;
 
$(document).ready(function(e) 
{
    timer = new _timer();
    // timer.reset(0);
    // timer.mode(0);
});
   
  </script>
  </body>
</html>