{% extends 'base.html' %}

{% block content %}
      
      <h1 class="title">
        Productive
      </h1>
      <p class="subtitle">
        My Feed
        {{ lists }}
      </p>
      <div class="timerContainer">
        <button onclick="changeTask('Workout');">Workout</button>
        <button onclick="changeTask('Crochet');">Crochet</button>
        <button onclick="changeTask('Code');">Code</button>
        <h1 class="timerTask">Task</h1>
        <div class="timer">
          <div class="timer">
            <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">10</span>
          </div>
          <div class="control">
              <button onClick="timer.start(1000)">Start</button> 
              <button onClick="timer.stop()">Stop</button> 
              <button onClick="timer.reset(60)">Reset</button> 
              <button onClick="timer.mode(1)">Count up</button> 
              <button onClick="timer.mode(0)">Count down</button>
          </div>
        </div>
      </div>
      <br>
      <div class="buttons">
        {% for item in switch %}
        {% if item['onoff']==1 %}
        <button data_id="{{item['id']}}" class="button is-link switch-button">{{item['description']}}</button>
        {% else %}
        <button data_id="{{item['id']}}" class="button is-primary switch-button">{{item['description']}}</button>
        {% endif %}
        {% endfor %}
      </div>
      <form action="/create" method="POST">
        <textarea class="textarea is-link" name="post-content" placeholder="Post"></textarea>
        <br>
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
      </form>
    <div class="grid-container">
      <div class="leftBox">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>To Do</strong>
                  <br>

                    
                    <div data_id="0" class="drag-elements droppable multipleChildren hasChild">
                        {% for task in lists %}
                        {%if task['placement'] == 0%}
                        <div data_id="{{task['id']}}" id="drag{{task['id']}}" class="dragElement redBorder">
                          (<a style="color:red;" href="{{url_for('delete', task_id=task['id'])}}">delete</a>)
                           {{ task['description'] }}
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                  
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <div class="media-content">
                <!-- <div class="drag-elements droppable multipleChildren hasChild">
                    <div id="drag1" class="dragElement redBorder">Drag me!</div>
                    <div id="drag2" class="dragElement greenBorder">Drag me!</div>
                    <div id="drag3" class="dragElement orangeBorder">Drag me!</div>
                    <div id="drag4" class="dragElement pinkBorder">Drag me!</div>
                </div> -->
             

              <!-- <div class="drop-elements">  -->
                  <div id="test" class="drop-zone ">
                   
                    <div id="dragTest" draggable="true">heyo</div>
                    
                  </div>
                <!-- </div> -->
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      </div>
      
      <div class="rightBox">
        {% for day in days %}
        <div   class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{day['day']}}</strong>
                  <br>


                  <!-- for each task -->
                   <!-- if task id == day id then  -->
                  <div id="{{day['day']}}"  class="drop-elements">
                      {% for task in lists %}
                      {%if task['placement'] == day['id'] %}
                      <div cdata_id="{{day['id']}}"  class="dropElement droppable hasChild">
                      <div data_id="{{task['id']}}" id="drag{{task['id']}}" class="dragElement redBorder">
                        (<a style="color:red;" href="{{url_for('delete', task_id=task['id'])}}">delete</a>)
                         {{ task['description'] }}
                      </div>
                      </div>
                      {% endif %}
    
                      {% endfor %}
                      <div data_id="{{day['id']}}" id="{{day['day']}}1" class="dropElement droppable"></div>
                      <div data_id="{{day['id']}}" id="{{day['day']}}2" class="dropElement droppable"></div>
                      <div data_id="{{day['id']}}" id="{{day['day']}}3" class="dropElement droppable"></div>
                    </div>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}
      