<!DOCTYPE HTML>
<html>
<head>
	<link href="/static/css/drag-and-drop.css" type="text/css" rel="stylesheet" />
	<!-- <link href="/static/css/part-i.css" type="text/css" rel="stylesheet" /> -->
</head>
<body>
		<!-- <article> -->
		<!-- <section id="content"> -->
			<div class="drop-elements">
				<div class="dropElement droppable"></div>
				<div class="dropElement droppable"></div>
				<div class="dropElement droppable"></div>
				<div class="dropElement droppable"></div>
			</div>
			<div class="drag-elements droppable multipleChildren hasChild">
				<div id="drag1" class="dragElement redBorder">Drag me!</div>
				<div id="drag2" class="dragElement greenBorder">Drag me!</div>
				<div id="drag3" class="dragElement orangeBorder">Drag me!</div>
				<div id="drag4" class="dragElement pinkBorder">Drag me!</div>
			</div>
		<!-- <section> -->
	<!-- </article> -->
	<script src="/static/jquery-1.11.1.min.js"></script>
	<script src="/static/part-i.js"></script>
</body>
</html>
